body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin-top: 50px;
    color: #2c3e50;
}

p {
    font-size: 1.2em;
    margin: 20px 0;
}

audio {
    margin-top: 20px;
    outline: none; /* Müzik çaların kenarını kaldır */
}

footer {
    margin-top: 50px;
    font-size: 0.8em;
    color: #777;
}

